// Configuración del archivo JourneyMap. Modifíquelo a su propio riesgo.
// Para usar en todos los mundos, ponga aqui: journeymap\config\5.7\
// Para mas información, vaya a: http://journeymap.info/Options_Manager
{
  "managerEnabled": "true",
  "beaconEnabled": "true",
  "showTexture": "true",
  "showStaticBeam": "true",
  "showRotatingBeam": "true",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "boldLabel": "false",
  "fontScale": "2",
  "textureSmall": "true",
  "maxDistance": "3000",
  "minDistance": "4",
  "createDeathpoints": "true",
  "autoRemoveDeathpoints": "false",
  "autoRemoveDeathpointDistance": "5",
  "showDeathpointlabel": "true",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "dd-MM-yyyy",
  "timeFormat": "HH:mm:ss",
  "configVersion": "5.7.1"
}