// Configuración del archivo JourneyMap. Modifíquelo a su propio riesgo.
// Para usar en todos los mundos, ponga aqui: journeymap\config\5.7\
// Para mas información, vaya a: http://journeymap.info/Options_Manager
{
  "enabled": "false",
  "port": "8080",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}