// Configuración del archivo JourneyMap. Modifíquelo a su propio riesgo.
// Para usar en todos los mundos, ponga aqui: journeymap\config\5.7\
// Para mas información, vaya a: http://journeymap.info/Options_Manager
{
  "logLevel": "INFO",
  "autoMapPoll": "2000",
  "cacheAnimalsData": "3100",
  "cacheMobsData": "3000",
  "cachePlayerData": "1000",
  "cachePlayersData": "2000",
  "cacheVillagersData": "2200",
  "announceMod": "false",
  "checkUpdates": "true",
  "recordCacheStats": "false",
  "browserPoll": "2000",
  "themeName": "Stronghold",
  "caveIgnoreGlass": "true",
  "mapBathymetry": "false",
  "mapTopography": "true",
  "mapTransparency": "true",
  "mapCaveLighting": "true",
  "mapAntialiasing": "true",
  "mapPlantShadows": "false",
  "mapPlants": "false",
  "mapCrops": "true",
  "mapBlendGrass": "true",
  "mapBlendFoliage": "true",
  "mapBlendWater": "false",
  "mapSurfaceAboveCaves": "true",
  "renderDistanceCaveMax": "3",
  "renderDistanceSurfaceMax": "7",
  "renderDelay": "2",
  "revealShape": "Circle",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "false",
  "tileHighDisplayQuality": "true",
  "maxAnimalsData": "32",
  "maxMobsData": "32",
  "maxPlayersData": "32",
  "maxVillagersData": "32",
  "hideSneakingEntities": "true",
  "radarLateralDistance": "64",
  "radarVerticalDistance": "16",
  "tileRenderType": "1",
  "mappingEnabled": "true",
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": "true",
  "optionsManagerViewed": "5.7.1",
  "splashViewed": "5.7.1",
  "gridSpecs": {
    "day": "Dots,#808080,0.24,-1,-1",
    "night": "Dots,#8080ff,0.24,-1,-1",
    "underground": "Dots,#808080,0.24,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorPet": "#0077ff",
  "colorVillager": "#88e188",
  "colorPlayer": "#ffffff",
  "colorSelf": "#0000ff",
  "verboseColorPalette": "false",
  "configVersion": "5.7.1"
}